@import "mixins";

//  . . . . . . . Header styling . . . . . . .
header {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    overflow: auto;
    background-color: transparent;
    position: fixed;
    width: 100%;
    transition: 1s;
    @include laptop {
        padding-right: 2%;
    }
    @include mobile {
        padding-top: 4%;
        padding-left: 3%;
        padding-right: 6%;
    }
    &.sticky a.nav-button {
        color: $color_azure_radiance_approx;
        border-color: $color_azure_radiance_approx;
        background-color: $white;
        &:hover {
            color: $color_azure_radiance_approx;
            border-color: $color_azure_radiance_approx;
            background-color: $white;
        }
    }

    #check {
        display: none;
    }

    .checkbtn {
        display: none;
        @include mobile {
            display: flex;
            z-index: 500;
        }
        @include tablet {
            display: flex;
            z-index: 500;
        }
        @include smalllaptop {
            display: flex;
            z-index: 500;
        }
    }
}
.sticky {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: $white;
    transition: 1s;
    z-index: 500;
    @include mobile {
        padding-top: 4%;
        padding-left: 3%;
        padding-right: 6%;
    }
    @include tablet {
        padding-top: 2%;
    }
    @include smalllaptop {
        padding-top: 2%;
    }
    @include laptop {
        padding-top: 2%;
        padding-right: 2%;
    }
}

a {
    text-decoration: none;
    list-style: none;
    &#logo-link {
        align-self: center;
        padding-left: 2%;
        display: flex;
        align-items: center;
        .logo {
            width: 12%;
            height: 12%;
        }

        p {
            margin-top: 1%;
            .blue {
                color: $color_azure_radiance_approx;
                font-family: "Verdana";
                font-size: 1.5rem;
                font-weight: 500;
                @include tablet {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                @include mobile {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
            .grey {
                @extend .blue;
                color: $color_dorado_approx;
            }
        }
    }
    &.nav-button {
        align-self: center;
        color: $white;
        margin-right: 6%;
        font-family: "Verdana";
        font-weight: 700;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        padding-top: 0.7%;
        padding-bottom: 0.75%;
        padding-right: 1.7%;
        padding-left: 1.7%;
        border: solid 1.5px;
        border-radius: 5px;
        border-color: $white;
        background-color: $color_azure_radiance_approx;
        box-shadow: none;
        &:hover {
            color: $color_azure_radiance_approx;
            border-color: $color_azure_radiance_approx;
            background-color: $white;
        }
        @include mobile {
            display: none;
        }
        @include tablet {
            display: none;
        }
        @include smalllaptop {
            display: none;
        }
    }
}
#navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    width: 100%;
    align-items: center;
    @include mobile {
        padding-top: 2%;
    }
    @include tablet {
        padding-top: 2%;
    }
    @include smalllaptop {
        padding-top: 2%;
        padding-right: 2%;
    }

    .toggle {
        align-self: center;
        cursor: pointer;
        display: none;
        justify-content: space-between;
        text-decoration: none;
        fill: $color_dorado_approx;
        @include mobile {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            align-items: center;
            width: 1.6rem;
        }
        @include tablet {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            width: 2rem;
        }
        @include smalllaptop {
            display: flex;
            margin-right: 5%;
            z-index: 502;
            width: 2rem;
        }
    }
    .active {
        display: flex;
        transition: all 1s ease-in-out;
        @include mobile {
            margin-top: -3.5%;
        }
        @include tablet {
            margin-top: -3%;
        }
        @include smalllaptop {
            margin-top: -2%;
        }
    }
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-between;
        margin-left: -14%;
        @include mobile {
            flex-direction: column;
            top: 8%;
            padding-top: 5%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 50%;
            left: 50%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }
        @include tablet {
            flex-direction: column;
            top: 8.5%;
            padding-top: 5%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 30%;
            left: 70%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }

        @include smalllaptop {
            flex-direction: column;
            top: 10.5%;
            padding-top: 3%;
            padding-bottom: 10%;
            padding-right: 5%;
            position: fixed;
            height: auto;
            width: 30%;
            left: 70%;
            background-color: $white;
            display: none;
            transition: all 1s ease-in-out;
            align-items: flex-end;
            margin-left: 0;
        }

        li a {
            color: $color_mine_shaft_approx;
            text-decoration: none;
            display: block;
            padding: 20px;
            font-family: "Verdana";
            font-size: 0.85rem;
            letter-spacing: 0.07rem;
            font-weight: 500;
            text-align: center;
            @include tablet {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            @include smalllaptop {
                padding-top: 20%;
                padding-bottom: 20%;
            }
            &:hover {
                color: $color_azure_radiance_approx;
            }
            &:active {
                color: $color_azure_radiance_approx;
            }
        }
    }
}
