@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/caveat/v10/Wnz6HAc5bAfYB2Q7ZjYY.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*@mixin widescreen CSS {
    @media (min-width: 1441px) and (max-width: 1920px) {
        @content;
    }
}*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url("../images/Contact-Background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media (max-width: 500px) {
  body {
    background-image: url("../images/Mobile-bg.webp");
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  body {
    background-image: url("../images/Tablet-single-bg.webp");
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    background-image: url("../images/Tablet-single-bg.webp");
  }
}

.container {
  width: 100%;
  height: 100vh;
  padding: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 500px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
  }
}

.container h1 {
  color: #009ff6;
  font-family: "caveat";
  letter-spacing: 0.1rem;
  font-size: 3rem;
  text-align: center;
  background-color: transparent;
  margin-bottom: 5%;
}

@media (max-width: 500px) {
  .container h1 {
    font-size: 2.5rem;
    background-color: transparent;
    margin-bottom: 5%;
  }
}

.container img {
  margin-top: 10%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 250px;
  height: 300px;
}

@media (max-width: 500px) {
  .container img {
    width: 200px;
    height: 250px;
    margin-top: 5%;
  }
}

p {
  font-family: "Verdana";
  line-height: 1.7rem;
  font-size: 0.95rem;
  letter-spacing: 0.03rem;
}

p.caveat {
  font-family: "Caveat";
  font-size: 2rem;
}

p.copyright-text a {
  color: #009ff6;
}

.loader {
  position: fixed;
  z-index: 5000;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: pulse 1s linear infinite;
          animation: pulse 1s linear infinite;
}

@media (min-width: 501px) and (max-width: 768px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .loader {
    width: 100%;
    height: 100%;
  }
}

.loader .pre {
  width: 80px;
  height: 80px;
}

@media (min-width: 501px) and (max-width: 768px) {
  .loader .pre {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  .loader .pre {
    width: 50px;
    height: 50px;
  }
}

.loader .blue, .loader .grey {
  color: #009ff6;
  font-family: "Verdana";
  font-size: 2.5rem;
  font-weight: 500;
}

@media (min-width: 501px) and (max-width: 768px) {
  .loader .blue, .loader .grey {
    font-size: 2rem;
    font-weight: 500;
  }
}

@media (max-width: 500px) {
  .loader .blue, .loader .grey {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.loader .grey {
  color: #525252;
}

.disappear {
  -webkit-animation: vanish 1s forwards;
          animation: vanish 1s forwards;
}
/*# sourceMappingURL=maintenance.css.map */