{% extends 'baseless.html' %}

{% block css_link %}
     <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}" />
{% endblock %}

{% block page_title %} 404 {% endblock %}

{% block main_content %}
    <!-- 404 begins here -->
    <div class="container">
        <h1>404</h1>
        <h2>Looks like the page you are looking for doesn't exist !</h2>
        <a href="{{ url_for('home') }}">
            <button>Return Home</button>
        </a>
        <img src="static/../static/images/Sadness-404.webp" alt=""/>
    </div>
    <!-- 404 ends here -->
{% endblock %}
