<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Your one stop website for web development, maintenance and SEO services.
            Take a look around and don't hesitate to get it touch. Your vision is my business."
        />
        <meta
            name="keywords"
            content="web development, web design, tech blog, wordpress developer, mern stack"
        />
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
       {% block css_link %}{% endblock %}
        <link rel="shortcut icon" href="static/../static/images/favicon.webp" />
        <title> {% block page_title %}{% endblock %} </title>
    </head>
    <body>
        <!-- preloader -->
        <div class="loader">
            <img class="pre" src="static/../static/images/smartcode_icon.webp" />
            <h1>
                <span class="blue">&nbspSmart</span>
                <span class="grey">{ Code };</span>
            </h1>
        </div>
        <!-- preloader ends here -->
        {% block main_content %}{% endblock %}
        <script src="../static/js/main.js"></script>
    </body>
</html>
