<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Your one stop website for web development, maintenace and SEO services. 
            Take a look around and don't hesitate to get it touch. Your vision is my business."
        />
        <meta
            name="keywords"
            content="web development, web design, tech blog, wordpress developer, mern stack"
        />
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
        <script
            src="https://kit.fontawesome.com/def3c3ed02.js"
            crossorigin="anonymous"
        ></script>

        <link rel="stylesheet" href="../static/css/blog.css" />
        <link rel="shortcut icon" href="../static/images/favicon.webp" />
        <title>
            Blog | I share tips and trick when it comes to coding as a fullstack
            developer
        </title>
    </head>
    <body>
        <!-- preloader -->
        <div class="loader">
            <img class="pre" src="../static/images/smartcode_icon.webp" />
            <h1>
                <span class="blue">&nbspSmart</span>
                <span class="grey">{ Code };</span>
            </h1>
        </div>
        <!--preloader ends here-->

        <div class="container">
            <!-- header starts here -->
            <header>
                <nav id="navbar">
                    <a href="index" id="logo-link">
                        <img
                            class="logo"
                            src="../static/images/smartcode-logo-default.webp"
                            alt="SmartCode logo"
                        />
                    </a>
                    <ul class="navlinks">
                        <li><a href="index" class="nav-link">Home</a></li>
                        <li>
                            <a href="projects" class="nav-link"
                                >Projects</a
                            >
                        </li>
                        <li><a href="blog" class="nav-link">Blog</a></li>
                        <li>
                            <a href="contact" class="nav-link">Contact</a>
                        </li>
                        <li>
                            <a href="blog-single" class="nav-link"
                                >Single</a
                            >
                        </li>
                        <li>
                            <a href="login" class="nav-link">Login</a>
                        </li>
                        <li>
                            <a href="maintenance" class="nav-link"
                                >Maintenance</a
                            >
                        </li>
                        <li>
                            <a href="404" class="nav-link">404</a>
                        </li>
                    </ul>
                    <input type="checkbox" id="check" />
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars toggle"></i>
                    </label>
                    <a href="#" class="nav-button">Let's Talk</a>
                </nav>
            </header>
            <!-- header ends here -->

            <section class="noposts">
                <h1>Hang in there . . . Working on some posts for you!</h1>
            </section>

            <!-- footer starts here -->
            <footer>
                <div>
                    <!--subscription form-->
                    <form class="footer-form">
                        <!--
                            <p class="success-sub">
                            Successfully added to the list!
                        </p>
                        <p class="failed-sub">
                            Something went wrong, try again!
                        </p>
                        -->

                        <p>
                            Subscribe to Be in the Loop Every Time I Post New
                            Articles!
                        </p>
                        <label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Name"
                            />
                        </label>
                        <label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Email"
                            />
                        </label>
                        <input type="submit" value="Subscribe" />
                    </form>

                    <!--social icons-->
                    <ul class="social">
                        <li>
                            <a><i class="fab fa-medium"></i></a>
                        </li>
                        <li>
                            <a><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>

                    <!--copyright text-->
                    <p class="copyright-text">
                        <span>All Rights Reserved </span>&copy; 2021 |
                        <a href="https://smart-code.dev">SmartCode</a>
                    </p>
                </div>
            </footer>
            <!-- footer ends here -->
        </div>
        <script src="../static/js/main.js"></script>
    </body>
</html>
<span>All Rights Reserved </span>
