<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Your one stop website for web development, maintenace and SEO services. 
            Take a look around and don't hesitate to get it touch. Your vision is my business."
        />
        <meta
            name="keywords"
            content="web development, web design, tech blog, wordpress developer, mern stack"
        />
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
        <script
            src="https://kit.fontawesome.com/def3c3ed02.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="../static/css/blog.css" />
        <link rel="shortcut icon" href="static/../static/images/favicon.webp" />
        <title>
            Blog | I share tips and trick when it comes to coding as a fullstack
            developer
        </title>
    </head>
    <body>
        <!-- preloader -->
        <div class="loader">
            <img class="pre" src="static/../static/images/smartcode_icon.webp" />
            <h1>
                <span class="blue">&nbspSmart</span>
                <span class="grey">{ Code };</span>
            </h1>
        </div>
        <!--preloader ends here-->

        <div class="container">
            <!-- header starts here -->
            <header>
                <nav id="navbar">
                    <a href="index" id="logo-link">
                        <img
                            class="logo"
                            src="../static/images/smartcode_icon.webp"
                            alt="SmartCode logo"
                        />
                        <p>
                            <span class="blue">Smart</span>
                            <span class="grey">{Code};</span>
                        </p>
                    </a>
                    <ul class="navlinks">
                        <li><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
                        <li>
                            <a href="{{ url_for('projects') }}" class="nav-link"
                                >Projects</a
                            >
                        </li>
                        <li><a href="{{ url_for('get_posts') }}" class="nav-link">Blog</a></li>
                        <li>
                            <a href="{{ url_for('contact') }}" class="nav-link">Contact</a>
                        </li>
                        <li>
                            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('maintenance') }}" class="nav-link"
                                >Maintenance</a
                            >
                        </li>
                    </ul>
                    <input type="checkbox" id="check" />
                    <label for="check" class="checkbtn">
                        <svg
                            class="fas fa-bars toggle"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 24 24"
                        >
                            <path
                                d="M2 6a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1z"
                            />
                            <path
                                d="M2 12.032a1 1 0 0 1 1-1h18a1 1 0 1 1 0 2H3a1 1 0 0 1-1-1z"
                            />
                            <path
                                d="M3 17.064a1 1 0 1 0 0 2h18a1 1 0 0 0 0-2H3z"
                            />
                        </svg>
                    </label>
                    <a href="#" class="nav-button">Let's Talk</a>
                </nav>
            </header>
            <!-- header ends here -->

            <!-- hero section starts here -->
            <section class="featured-posts">
                <div class="post-item">
                    <div class="post-image">
                        <img
                            src="static/../static/images/article-image/data.webp"
                            alt="data-engineering"
                        />
                    </div>
                    <div class="f-post-content">
                        <span class="date"> 18th June 2021 </span>
                        <h1>Getting started with data science</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Earum, error autem. Asperiores inventore
                            eligendi nostrum impedit, delectus nobis nulla illum
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Exercitationem sunt doloremque veritatis quae
                            odit, corrupti beatae optio excepturi enim nostrum.
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Delectus voluptatem et alias, dignissimos
                            dolore cum officia ipsam in architecto soluta!
                        </p>
                        <p class="top-pick">Editor's Pick</p>
                        <a class="button" href="#">Read More</a>
                    </div>
                </div>
            </section>
            <!-- hero section ends here -->

            <!-- from the blog section starts here -->
            <section class="blog">
                <div>
                    <h2>Recent Posts . . .</h2>
                    <hr class="divider4" />
                </div>
                <div class="articles">
                    {% for post in posts %}
                    <div class="article">
                        <img src={{post["image"]}} alt="" />
                        <p>&nbsp;{{post["date"]}}</p>
                        <a href="{{ url_for('get_single', title=post['title']) }}">
                            <h3>{{post["title"]}}</h3>
                        </a>
                        <p>
                            {{ post["excerpt"] }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
                <div class="button">
                    <button>Load More . . .</button>
                </div>
            </section>
            <!-- from the blog section ends here -->

            <!-- footer starts here -->
            <footer>
                <div>
                    <!--subscription form-->
                    <form class="footer-form">
                        <p>
                            Subscribe to Be in the Loop Every Time I Post New
                            Articles!
                        </p>
                        <label>
                            <input
                                type="text"
                                name="name"
                                id="name"
                                placeholder="Name"
                            />
                        </label>
                        <label>
                            <input
                                type="email"
                                name="email"
                                id="email"
                                placeholder="Email"
                            />
                        </label>
                        <input type="submit" value="Subscribe" />
                    </form>

                    <!--social icons-->
                    <ul class="social">
                        <li>
                            <a>
                                <svg
                                    width="1.5rem"
                                    height="1.5rem"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                                    class="fab fa-medium"
                                >
                                    <path
                                        d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-2.046 4.265l-.966.925a.28.28 0 0 0-.106.271v6.801a.28.28 0 0 0 .106.271l.942.926v.204h-4.741v-.204l.977-.948c.097-.096.097-.125.097-.271V9.742l-2.716 6.896h-.368L8.018 9.742v4.622a.644.644 0 0 0 .176.531l1.271 1.541v.203H5.861v-.203l1.271-1.541a.618.618 0 0 0 .164-.531V9.02a.468.468 0 0 0-.152-.395l-1.13-1.36v-.203H9.52l2.71 5.943l2.382-5.943h3.343v.203z"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a>
                                <svg
                                    width="1.5rem"
                                    height="1.5rem"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                                    class="fab fa-twitter"
                                >
                                    <path
                                        d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578a9.3 9.3 0 0 1-2.958 1.13a4.66 4.66 0 0 0-7.938 4.25a13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568a4.692 4.692 0 0 1-2.104.08a4.661 4.661 0 0 0 4.352 3.234a9.348 9.348 0 0 1-5.786 1.995a9.5 9.5 0 0 1-1.112-.065a13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254c0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003z"
                                    />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a>
                                <svg
                                    width="1.5rem"
                                    height="1.5rem"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                                    class="fab fa-linkedin-in"
                                >
                                    <circle cx="4.983" cy="5.009" r="2.188" />
                                    <path
                                        d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118c1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783c-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
                                    />
                                </svg>
                            </a>
                        </li>
                    </ul>

                    <!--copyright text-->
                    <p class="copyright-text">
                        <span>All Rights Reserved </span>&copy; 2021 |
                        <a href="https://smart-code.dev">SmartCode</a>
                    </p>
                </div>
            </footer>
            <!-- footer ends here -->
        </div>
        <script src="../static/js/main.js"></script>
    </body>
</html>
