{% extends 'base.html' %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}" />
{% endblock %}

{% block page_title %}
    Blog | I share tips and tricks when it comes to coding as a fullstack
    developer
{% endblock %}

{% block main_content %}
    <!-- hero section starts here -->
    <section class="featured-posts">
        <div class="post-item">
            <div class="post-image">
                <img
                        src="static/../static/images/article-image/data.webp"
                        alt="data-engineering"
                />
            </div>
            <div class="f-post-content">
                <span class="date"> 18th June 2021 </span>
                <h1>Getting started with data science</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Earum, error autem. Asperiores inventore
                    eligendi nostrum impedit, delectus nobis nulla illum
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Exercitationem sunt doloremque veritatis quae
                    odit, corrupti beatae optio excepturi enim nostrum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Delectus voluptatem et alias, dignissimos
                    dolore cum officia ipsam in architecto soluta!
                </p>
                <p class="top-pick">Editor's Pick</p>
                <a class="button" href="#">Read More</a>
            </div>
        </div>
    </section>
    <!-- hero section ends here -->

    <!-- from the blog section starts here -->
    <section class="blog">
        <div>
            <h2>Recent Posts . . .</h2>
            <hr class="divider4"/>
        </div>
        <div class="articles">
            {% for post in posts %}
            <div class="article">
                <img src={{post["image"]}} alt=""/>
                <p>&nbsp;{{post["date"]}}</p>
                <a href="{{ url_for('get_single', title=post['title']) }}">
                    <h3>{{post["title"]}}</h3>
                </a>
                <p>
                    {{ post["excerpt"] }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="button">
            <button>Load More . . .</button>
        </div>
    </section>
    <!-- from the blog section ends here -->
{% endblock %}