{% extends 'base.html' %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" />
{% endblock %}

{% block page_title %}
    Blog | I share tips and tricks when it comes to coding as a fullstack
    developer
{% endblock %}

{% block main_content %}
    <!-- form section starts here -->
    <section class="contact">
        <div class="contactform">
            <!--subscription form-->
            <form class="contact-form" novalidate="novalidate" action="{{ url_for('contact') }}" method="POST">
                {% if message_sent == True: %}
                <h1>Message Sent!</h1>
                {% else: %}
                <h1>Get In Touch</h1>
                {% endif %}
                <label>
                    <input
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Name"
                            aria-required="true"
                            class="error"
                    />
                    <!--                            <label id="name-error" class="error" for="name">Please enter your name</label>-->
                </label>
                <label>
                    <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="Email"
                            aria-required="true"
                            class="error"
                            aria-invalid="true"
                    />
                    <!--                            <label id="email-error" class="error" for="email">Please enter a valid email address</label>-->
                </label>
                <label for="message"></label>
                <textarea
                        name="message"
                        id="message"
                        placeholder="Message"
                        aria-required="true"
                        class="error"
                ></textarea
                >
                <!--                        <label id="message-error" class="error" for="message">Please enter a message</label>-->

                <input type="submit" value="Submit"/>
            </form>
        </div>

        <div class="contact-info">
            <div class="contact-info-items">
                <ul class="contact-details">

                    <li>
                        <a href="tel:+254717329721">
                            <svg
                                    class="fas fa-phone-alt"
                                    width="50"
                                    height="50"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M18.997 20C10.466 20.012 3.991 13.46 4 5.003C4 4.45 4.448 4 5 4h2.64c.495 0 .916.364.989.854a12.417 12.417 0 0 0 1.015 3.397l.103.222a.707.707 0 0 1-.23.872c-.818.584-1.13 1.759-.493 2.675c.799 1.15 1.806 2.158 2.956 2.957c.917.636 2.092.324 2.675-.493a.707.707 0 0 1 .873-.231l.221.102c1.078.5 2.222.842 3.397 1.016c.49.073.854.494.854.99V19a1 1 0 0 1-1.001 1h-.002z"
                                />
                            </svg>
                            <span class="info">+254 717 329 721</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:samuel.martins4.sm@gmail.com">
                            <svg
                                    class="far fa-envelope"
                                    width="50"
                                    height="50"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223l-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044L20.002 18H4z"
                                />
                            </svg>
                            <span class="info"
                            >samuel.martins4.sm@gmail.com</span
                            >
                        </a>
                    </li>
                    <li>
                        <a
                                href="https://api.whatsapp.com/send?phone=254717329721&text=Lead%20From%20Site%3A%20%0A"
                        >
                            <svg
                                    class="fab fa-whatsapp"
                                    width="50"
                                    height="50"
                                    preserveAspectRatio="xMidYMid meet"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M19.05 4.91A9.816 9.816 0 0 0 12.04 2c-5.46 0-9.91 4.45-9.91 9.91c0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21c5.46 0 9.91-4.45 9.91-9.91c0-2.65-1.03-5.14-2.9-7.01zm-7.01 15.24c-1.48 0-2.93-.4-4.2-1.15l-.3-.18l-3.12.82l.83-3.04l-.2-.31a8.264 8.264 0 0 1-1.26-4.38c0-4.54 3.7-8.24 8.24-8.24c2.2 0 4.27.86 5.82 2.42a8.183 8.183 0 0 1 2.41 5.83c.02 4.54-3.68 8.23-8.22 8.23zm4.52-6.16c-.25-.12-1.47-.72-1.69-.81c-.23-.08-.39-.12-.56.12c-.17.25-.64.81-.78.97c-.14.17-.29.19-.54.06c-.25-.12-1.05-.39-1.99-1.23c-.74-.66-1.23-1.47-1.38-1.72c-.14-.25-.02-.38.11-.51c.11-.11.25-.29.37-.43s.17-.25.25-.41c.08-.17.04-.31-.02-.43s-.56-1.34-.76-1.84c-.2-.48-.41-.42-.56-.43h-.48c-.17 0-.43.06-.66.31c-.22.25-.86.85-.86 2.07c0 1.22.89 2.4 1.01 2.56c.12.17 1.75 2.67 4.23 3.74c.59.26 1.05.41 1.41.52c.59.19 1.13.16 1.56.1c.48-.07 1.47-.6 1.67-1.18c.21-.58.21-1.07.14-1.18s-.22-.16-.47-.28z"
                                />
                            </svg>
                            <span class="info">Samuel Martins</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}