{% extends 'base.html' %}

{% block css_link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}

{% block page_title %}
    SmartCode | Where Speed, Efficiency And Excellence Meet
{% endblock %}

{% block main_content  %}
    <!-- hero section starts here -->
    <section class="hero">
        <div class="hero-intro">
            <h1>Hi there, welcome. I'm Samuel.</h1>
            <br/>
            <h2 class="hero-bolder">
                I build websites and <br/>
                webapps.
            </h2>
            <br/>
            <p class="caveat">My friends call me Sam . . .</p>
            <a href="#" class="hero-button">Let's Talk</a>
        </div>
    </section>
    <!-- hero section ends here -->

    <div class="slogan">
        <p>
            Quick note . . . This is where speed, efficiency and
            excellence meet!
        </p>
    </div>

    <!-- about section starts here -->
    <section class="about">
        <div class="info">
            <h3>About . . .</h3>
            <br/>
            <br/>
            <p>
                I am a self-taught full-stack developer who enjoys
                building things that live on the internet. I develop
                exceptional websites and webapps that provide intuitive,
                pixel-perfect user interfaces with efficient and modern
                back-ends. In addition to that, I can maintain any
                website while making sure it has a fair chance when it
                comes to SEO.
            </p>
            <br/>
            <br/>
            <button>How Can I Help?</button>
        </div>

        <div class="tabs">
            <h3>My Experience . . .</h3>
            <br/>
            <br/>
            <div class="tab-header">
                <div class="active">
                    <p>Freelance</p>
                </div>
                <div>
                    <p>IamBrand</p>
                </div>
                <div>
                    <p>ICreations</p>
                </div>
                <div>
                    <p>Crescent360</p>
                </div>
            </div>

            <div class="tab-content animate__fadeIn">
                <div class="active">
                    <br/>
                    <h3>Full-stack Developer</h3>
                    <p>2014 - Present</p>
                    <br/>
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Quis eum similique quisquam
                        officiis neque, cumque dignissimos architecto
                        nisi totam sapiente eos et illum laborum atque
                        vero ea perferendis consectetur veritatis.
                    </p>
                </div>

                <div>
                    <br/>
                    <h3>Wordpress Developer</h3>
                    <p>Sept 2018 - Sept 2019</p>
                    <br/>
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Quis eum similique quisquam
                        officiis neque, cumque dignissimos architecto
                        nisi totam sapiente eos et illum laborum atque
                        vero ea perferendis consectetur veritatis.
                    </p>
                </div>

                <div>
                    <br/>
                    <h3>Lead Web Developer</h3>
                    <p>Sept 2019 - Sept 2020</p>
                    <br/>
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Quis eum similique quisquam
                        officiis neque, cumque dignissimos architecto
                        nisi totam sapiente eos et illum laborum atque
                        vero ea perferendis consectetur veritatis.
                    </p>
                </div>

                <div>
                    <br/>
                    <h3>Lead Web Developer</h3>
                    <p>June 2020 - Present</p>
                    <br/>
                    <p>
                        Lorem ipsum dolor sit amet consectetur,
                        adipisicing elit. Quis eum similique quisquam
                        officiis neque, cumque dignissimos architecto
                        nisi totam sapiente eos et illum laborum atque
                        vero ea perferendis consectetur veritatis.
                    </p>
                </div>
            </div>

            <div class="tab-indicator"></div>
        </div>
    </section>

    <!-- about section ends here -->

    <!-- featured projects section starts here -->
    <section class="featured-projects">
        <div>
            <h3>Featured Work . . .</h3>
            <hr class="divider1"/>
        </div>

        <!-- Item 1 -->
        <div class="featured-item">
            <div class="featured-content">
                <h3>1. Remodel</h3>
                <br/>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam repellendus facere quia sapiente temporibus
                    quod, facilis tenetur!
                </p>
                <br/>
                <button>Visit Site</button>
            </div>

            <div class="featured-images">
                <div class="row1">
                    <img
                            class="image1"
                            src="../static/images/featured-projects/image1.webp"
                            alt=""
                    />
                    <img
                            class="image2"
                            src="../static/images/featured-projects/image2.webp"
                            alt=""
                    />
                </div>
                <div class="row2">
                    <img
                            class="image3"
                            src="../static/images/featured-projects/image3.webp"
                            alt=""
                    />
                    <img
                            class="image4"
                            src="../static/images/featured-projects/image4.webp"
                            alt=""
                    />
                </div>
            </div>
        </div>

        <!-- Item 2 -->
        <div class="featured-item-flipped">
            <div class="featured-images-flipped">
                <div class="row1-flipped">
                    <img
                            class="image1-flipped"
                            src="../static/images/featured-projects/image1.webp"
                            alt=""
                    />
                    <img
                            class="image2-flipped"
                            src="../static/images/featured-projects/image2.webp"
                            alt=""
                    />
                </div>
                <div class="row2-flipped">
                    <img
                            class="image3-flipped"
                            src="../static/images/featured-projects/image3.webp"
                            alt=""
                    />
                    <img
                            class="image4-flipped"
                            src="../static/images/featured-projects/image4.webp"
                            alt=""
                    />
                </div>
            </div>
            <div class="featured-content-flipped">
                <h3>2. Remodel</h3>
                <br/>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam repellendus facere quia sapiente temporibus
                    quod, facilis tenetur!
                </p>
                <br/>
                <button>Visit Site</button>
            </div>
        </div>

        <!-- Item 3 -->
        <div class="featured-item">
            <div class="featured-content">
                <h3>3. Remodel</h3>
                <br/>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam repellendus facere quia sapiente temporibus
                    quod, facilis tenetur!
                </p>
                <br/>
                <button>Visit Site</button>
            </div>

            <div class="featured-images">
                <div class="row1">
                    <img
                            class="image1"
                            src="../static/images/featured-projects/image1.webp"
                            alt=""
                    />
                    <img
                            class="image2"
                            src="../static/images/featured-projects/image2.webp"
                            alt=""
                    />
                </div>
                <div class="row2">
                    <img
                            class="image3"
                            src="../static/images/featured-projects/image3.webp"
                            alt=""
                    />
                    <img
                            class="image4"
                            src="../static/images/featured-projects/image4.webp"
                            alt=""
                    />
                </div>
            </div>
        </div>
    </section>
    <!-- featured section ends here -->

    <!-- client logos section starts here -->
    <section class="client-logos">
        <div>
            <h3>People I've Worked With . . .</h3>
            <hr class="divider2"/>
        </div>

        <div class="logos-row-a">
            <img
                    src="../static/images/client-companies/Crescent360.webp"
                    alt=""
            /><img
                src="../static/images/client-companies/Freshly.webp"
                alt=""
        /><img
                src="../static/images/client-companies/Icreations.webp"
                alt=""
        /><img src="../static/images/client-companies/Remodel.webp" alt=""/>
        </div>
        <div class="logos-row-b">
            <img src="../static/images/client-companies/Dafrao.webp" alt=""/><img
                src="../static/images/client-companies/IamBrand.webp"
                alt=""
        /><img
                src="../static/images/client-companies/E-pro.webp"
                alt=""
        /><img src="../static/images/client-companies/Triunity.webp" alt=""/>
        </div>
    </section>
    <!-- client logos section ends here -->
    <!--
        <section class="no-testimonials">
        <h1>Hang in there . . . client's words coming soon!</h1>
        </section>
    -->

    <!-- testimonials section starts here -->
    <section class="testimonials">
        <div>
            <h3>What Clients Say . . .</h3>
            <hr class="divider3"/>
        </div>
        <div class="testimonial-container">
            <div class="slider">
                <div class="slide active">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>Gideon Nzukie</h3>
                        <p>
                            Executive Director
                            <span>@ Crescent360</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>Priyal</h3>
                        <p>
                            Marketing Director
                            <span>@ FreshlyKenya</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>Kelvin Mbacha</h3>
                        <p>
                            Graphics UI/UX Designer
                            <span>@ Linksoft Integrated Systems</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>Arlene Ayira</h3>
                        <p>
                            Social Media Manager
                            <span>@ Ngamia</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>John Gitau</h3>
                        <p>
                            Executive Director
                            <span>@ Crescent360</span>
                        </p>
                    </div>
                </div>
                <div class="slide">
                    <svg
                            class="fas fa-quote-left fa-6x"
                            width="3rem"
                            height="3rem"
                            preserveAspectRatio="xMidYMid meet"
                            viewBox="0 0 717 627"
                    >
                        <path
                                d="M306 106l-26-40C100 187 0 334 0 455c0 117 86 172 159 172c92 0 157-78 157-160c0-69-44-128-103-150c-17-6-33-11-33-40c0-37 27-92 126-171zm397 0l-26-40C499 187 397 334 397 455c0 117 88 172 161 172c93 0 159-78 159-160c0-69-45-128-106-150c-17-6-32-11-32-40c0-37 28-92 124-171z"
                        />
                    </svg>
                    <p>
                        Sam is a creative guy. He is humble,
                        hardworking, and very easy to work with. My
                        experience of working with him is beyond words
                        because I got more than I expected. I am very
                        proud of him and his work enough to recommend
                        his services to others.
                    </p>
                    <div class="client-info">
                        <h3>Jackline Keya</h3>
                        <p>
                            Founder
                            <span>@ Blended Families</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider-indicator">
                <img
                        src="../static/images/testimonials/Gideon.webp"
                        class="active zero"
                        alt="img"
                        data-id="0"
                /><img
                    class="one"
                    src="../static/images/testimonials/Priyal.webp"
                    alt="img"
                    data-id="1"
            /><img
                    class="two"
                    src="../static/images/testimonials/Kev.webp"
                    alt="img"
                    data-id="2"
            /><img
                    class="three"
                    src="../static/images/testimonials/Arlene.webp"
                    alt="img"
                    data-id="3"
            /><img
                    class="four"
                    src="../static/images/testimonials/John.webp"
                    alt="img"
                    data-id="4"
            /><img
                    class="five"
                    src="../static/images/testimonials/Jackie.webp"
                    alt="img"
                    data-id="5"
            />
            </div>
        </div>
    </section>
    <!-- testimonials section ends here -->

    <!-- from the blog section starts here -->
    <section class="blog">
        <div>
            <h3>Check Out the Blog . . .</h3>
            <hr class="divider4"/>
        </div>
        <div class="articles">
            <div class="article1">
                <img src="../static/images/article-image/css.webp" alt=""/>
                <p>&nbsp;17th Jan 2021</p>
                <h4>How to write proper CSS</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam
                </p>
            </div>
            <div class="article2">
                <img src="../static/images/article-image/tutor.webp" alt=""/>
                <p>&nbsp;15th Jan 2021</p>
                <h4>How to mentor someone in programming</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam
                </p>
            </div>
            <div class="article3">
                <img src="../static/images/article-image/zone.webp" alt=""/>
                <p>&nbsp;13th Jan 2021</p>
                <h4>How do you stay motivated as a coder?</h4>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Voluptate magni consequatur distinctio quis
                    nam! Qui itaque id eos modi adipisci voluptatum
                    aperiam
                </p>
            </div>
        </div>
        <div class="button">
            <button>
                <a href="https://smart-code.dev/blog/">More Articles</a>
            </button>
        </div>
    </section>
    <!-- from the blog section ends here -->
{% endblock %}
